doctype
html
  head
    title= title
    link(href='favicon.ico', rel='shortcut icon',type='image/x-icon')
    link(rel='stylesheet', type="text/css" href='/css/bootstrap.css')
    link(rel="stylesheet", type="text/css", href="/css/my.css")
    base(href="/")
  body(ng-app="app")
    h1= message
